@model IEnumerable<PrimeraAppMVC.Clases.MedicamentoCLS>

@{
    ViewData["Title"] = "Index";
    List<SelectListItem> listaFormaFarma = ViewBag.listaForma;
}

<form style="display:grid;grid-template-columns:1fr 2fr" class="mb-2" id="frmEnviar">
    <label>Ingrese la forma farmaceutica</label>
    @Html.DropDownList("idformafarmaceutica", listaFormaFarma, new { @class="form form-control" })
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idmedicamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombreFormaFarmaceutica)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idmedicamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombreFormaFarmaceutica)
            </td>
            
        </tr>
}
    </tbody>
</table>

<script>
    var idformafarmaceutica = document.getElementById("idformafarmaceutica");
    idformafarmaceutica.onchange = function () {
        document.getElementById("frmEnviar").submit();
    }
</script>